@model EmployeeInfo19301330222_3001.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">DepartmentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">OfficeRoom</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeRoom)
    </div>

    <div class="display-label">Telephone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">IsDeleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDeleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
