@model EmployeeInfo19301330222_3001.ViewModels.ProjectViewModel
           

@{
    ViewBag.Title = "项目管理";
}

<h2>项目列表</h2>

<p>
    @Html.ActionLink("添加项目", "Create")
</p>
<table>
    <tr>
    <th>
    </th>
        <th>
            项目名称
        </th>
        <th>
            顾客姓名
        </th>
        <th>
            创建时间
        </th>
        <th>
            是否删除
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Projects) {
    string selectedcss = "";
    if (Model.SelectedProjectID == item.ID)
    {
        selectedcss = "selected"; 
    }
    <tr class = "@selectedcss">
        <td>
            @Html.ActionLink("选择", "index", new { id = item.ID})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatDate)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ID }) |
            @Html.ActionLink("添加员工", "Add", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@if (Model.SelectedProjectID > 0)
{
    <h3>参与员工</h3>
    <table>
    <tr>
        <th>
            姓名
        </th>
        <th>
            工号
        </th>
        <th>
            性别
        </th>
        <th>
            是否离职
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.EmployeesInProject)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("退出项目", "Quit", new { empid = item.ID, proid = Model.SelectedProjectID })
        </td>
        </tr>
    }
    </table>
}